<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body>

    <section class="quote" style="background-image: url('{{ url_for('static', filename=image) }}');">
        
            <h1 class="text">{{ quote }}</h1>
            <div class="buttons">
                <a href="/" class="btn">
                    Home
                </a>

                <a href="/generate" class="btn">
                    Regenerate
                </a>
            </div>

       


    </section>
</body>

</html>